@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Bree+Serif&display=swap');

*{
    box-sizing: border-box;
    margin:0px;
}

[class*="col-"]{
    float: left;
    padding-left:0px;
   /* border:1px solid black;*/
}

.row::after{
    content: " ";
    clear: both;
    display: table;
}

@media only screen and (max-width:768px) and (min-width:500px){
    /* For mobile phones */
    [class*="col-"]{
        width:100%;
    }
    .col-1{height:800px;}
    .col-2{height:400px;
           position:sticky;
           top:0px;
           z-index:5}
    .col-3{display:none;}
    .col-4{height:auto;}
    .col-5{height:auto;}
    .col-6{height:600px;}
    .col-7{height:300px;}
    .position1{margin-left:0%;}
    .centerimg{bottom:65%;}
    .headimg{
        width:175px;
        height:125px;
    }
    .template{
        margin-bottom:100px;
    }
    blockquote{
        font-size:30px;
        line-height:65px;
    }
    .layout{
        padding:0px;
    }
    form.example input{
        width:450px;
    }
    form.example input:focus{
        width:600px;
    }
    h1{
        font-size:50px;
    }
    h2{
        font-size:40px;
    }
    h1{
        font-family: 'Hammersmith One', sans-serif;
    }
    h2{
        font-family: 'Bree Serif', serif;
    }
   .fullcolor{
        width:74%;
        height:95%;
    }
    legend{
        font-size:30px;
    }
    p{
        line-height:30px;
    }
}

@media only screen and (max-width:500px){
     /* For large mobile phones */
     [class*="col-"]{
        width:100%;
    }
    .col-1{height:800px;}
    .col-2{height:400px;
           position:sticky;
           top:0px;
           z-index:5}
    .col-3{display:none;}
    .col-4{height:auto;}
    .col-5{height:auto;}
    .col-6{height:900px;}
    .col-7{height:300px;}
    .position1{margin-left:0%;}
    .centerimg{bottom:65%;}
    .headimg{
        width:40%;
        height:30%;
    }
    .template{
        margin-bottom:100px;
    }
    blockquote{
        font-size:30px;
        line-height:65px;
    }
    .layout{
        padding:0px;
    }
    form.example input{
        width:250px;
    }
    form.example input:focus{
        width:350px;
    }
    h1{
        font-size:40px;
    }
    h2{
        font-size:30px;
    }
    h1{
        font-family: 'Hammersmith One', sans-serif;
    }
    h2{
        font-family: 'Bree Serif', serif;
    }
    .fullcolor{
        width:90%;
        height:95%;
    }
    legend{
        font-size:25px;
    }
    p{
        line-height:30px;
    }
    .position1{
        object-fit: cover;
        background-position:right;
    }
}

@media only screen and (min-width:768px) and (max-width:1200px){
    /*For tablets and small laptops*/
.col-1{width:100%;
       height:800px;
       padding-right:0px;}
.col-2{width:100%;
       height:200px;
       position:sticky;
       top:0px;
       z-index:5;}
.col-3{display:none;}
.col-4{width:70%;}
.col-5{width:30%;}
.col-6{width:75%;}
.col-7{width:25%;height:250px;}
.col-8{width:30%;}
.position1{margin-left:20%;}
.centerimg{bottom:35%;}
.headimg{
    width:22%;
    height:12%;
}
blockquote{
    font-size:40px;
    line-height:100px;
}
form.example input{
    width:450px;
}
form.example input:focus{
    width:600px;
}
.fullcolor{
    width:74%;
    height:95%;
}
legend{
    font-size:30px;
}
h1{
    font-size:50px;
}
h2{
    font-size:30px;
}
h1{
    font-family: 'Hammersmith One', sans-serif;
}
h2{
    font-family: 'Bree Serif', serif;
}
p{
    line-height:40px;
}
}

@media only screen and (min-width:1200px){
    /*For desktops*/
    .col-1{width:100%;
           height:800px;
           padding-right:0px;}
    .col-2{width:100%;
           height:200px;
           position:sticky;
           top:0px;
           z-index:5;}
    .col-3{width:20%;height:auto;}
    .col-4{width:60%;}
    .col-5{width:20%;}
    .col-6{width:75%;}
    .col-7{width:25%;}
    .col-8{width:30%;}
    .position1{margin-left:25%;}
    .centerimg{bottom:15%;}
    .headimg{
        width:200px;
        height:150px;
    }
    blockquote{
        font-size:60px;
        line-height:100px;
    }
    form.example input{
        width:450px;
    }
    form.example input:focus{
        width:600px;
    }
    .fullcolor{
        width:74%;
        height:95%;
    }
    legend{
        font-size:30px;
    }
    p{
        line-height:45px;
    }
    }