*{
    box-sizing: border-box;
    margin:0px;
}

[class*="phpcol-"]{
    float:left;
    width:100%;
   /* border:1px solid black;*/
}

.row{
    left:0px;
    width:100%;
}

.row::after{
    content: " ";
    clear: both;
    display:table;
}

@media only screen and (max-width:768px) and (min-width:500px){
    /* For mobile phones */
    [class*="phpcol-"]{
        width:100%;
    }
    .position1{margin-left:0%;}
    .centerimg{bottom:44%;}
    .headimg{
        width:175px;
        height:125px;
    }
    .template{
        margin-bottom:50px;
    }
    .fonts{
        font-size:30px;
        line-height:50px;
    }
    .sociallink1{
        margin-left:50%;
    }
    .center{
        margin-left:40%;
    }
    .color{
        height:700px;
    }
    form.example input{
        width:450px;
    }
    form.example input:focus{
        width:600px;
    }
    .row1{
        margin-left:5%;
        margin-right:15%;
        width:70%;
    }
    h1{
        font-size:50px;
    }
    h2{
        font-size:40px;
    }
    h1,h2{
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .imgflex{
        width:400px;
        height:400px;
        
      }  
}

@media only screen and (max-width:500px){
    /* For large mobile phones */
    [class*="col-"]{
        width:100%;
    }
    .col-1{height:800px;}
    .col-2{height:400px;
           position:sticky;
           top:0px;
           z-index:5}
    .col-3{display:none;}
    .col-4{height:auto;}
    .col-5{height:auto;}
    .col-6{height:900px;}
    .col-7{height:300px;}
    .position1{margin-left:0%;}
    .centerimg{bottom:42%;}
    .headimg{
        width:40%;
        height:30%;
    }
    .sociallink1{
        margin-left:15%;
    }
    .template{
        margin-bottom:50px;
    }
    blockquote{
        font-size:30px;
        line-height:65px;
    }
    .layout{
        padding:0px;
    }
    form.example input{
        width:250px;
    }
    form.example input:focus{
        width:350px;
    }
    .color{
        height:900px;
    }
    .row1{
        margin-left:5%;
        margin-right:15%;
        width:70%;
    }
    h1{
        font-size:50px;
    }
    h2{
        font-size:30px;
    }
    h1,h2{
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
   /*.fullcolor{
        width:100%;
    }*/
    .imgflex{
        width:100%;
        height:100%;
        
      }
      .center{
        margin-left:30%;
    }  

}

@media only screen and (min-width:768px) and (max-width:1200px){
    /* For tablets and small laptops */
    [class*="col-"]{
        width:100%;
    }
    .col-1{height:800px;}
    .col-2{height:400px;
           position:sticky;
           top:0px;
           z-index:5}
    .col-3{display:none;}
    .col-4{height:auto;}
    .col-5{height:auto;}
    .col-6{height:900px;}
    .col-7{height:300px;}
    .position1{margin-left:0%;}
    .centerimg{bottom:35%;}
    .headimg{
        width:22%;
        height:12%;
    }
    .template{
        margin-bottom:50px;
    }
    blockquote{
        font-size:30px;
        line-height:65px;
    }
    .layout{
        padding:0px;
    }
    form.example input{
        width:250px;
    }
    form.example input:focus{
        width:350px;
    }
    .color{
        height:900px;
    }
    .row1{
        margin-left:5%;
        margin-right:15%;
        width:70%;
    }
    h1{
        font-size:40px;
    }
    h2{
        font-size:20px;
    }
    h1,h2{
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
   /*.fullcolor{
        width:100%;
    }*/
    .imgflex{
        width:100%;
        height:100%;
        
      }
      .center{
        margin-left:40%;
    }  
    .sociallink1{
        margin-left:30%;
    }
}

@media only screen and (min-width:1200px){
    /*For desktops*/
    [class*="phpcol-"]{
        width:100%;
    }
    .position1{margin-left:25%;}
    .centerimg{bottom:15%;}
    .headimg{
        width:200px;
        height:150px;
    } 
    .fonts{
        font-size:60px;
        line-height:70px;
    }
    .sociallink1{
        left:40%;
    }
    .center{
        margin-left:45%;
    }
    .color{
        height:600px;
    }
    form.example input{
        width:450px;
    }
    form.example input:focus{
        width:600px;
    }
    .row1{
        margin:50px;
        width:40%;
    }
    .imgflex{
        width:400px;
        height:400px;
        
      }
}

.phpcol-1{
    height:250px;
}

.phpcol-2{width:100%;
    height:250px;
    position: sticky;
    top:0px;
    z-index:5;}